@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Martel:wght@200&family=Roboto:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
    font-style: "Indie Flower";
}

.logo {
    margin: 10px;
    width: 100px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

main section {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#background {
    height: 725px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Martel', 'Roboto';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #322F20;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #00A8E8;
    color: #FFFFFF;
}

.home-title {
    color: #00A8E8;
    font-family: 'nuecha';
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 38px;
    margin: 10px
    
}

h2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 38px;
    margin: 10px
    
}

.home-animals {
    grid-column: 2;
    grid-row: 2;
    height: 800px;
    width: 100%;
}

.home-landscapes {
    grid-column: 1;
    grid-row: 2;
    height: 800px;
    width: 100%;
}


footer {
    background-color:  #322F20;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.social {
    grid-column: 1;
    grid-row: 1;
}

footer h3 {
    color: #FFFFFF;
    text-decoration: underline;
    grid-column: 2;
}

footer a {
    color: #FFFFFF;

}

footer a:hover {
    color: #00A8E8;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

/* Landscapes page */

.landscapes-para1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 38px;
    margin: 10px
    
}

.landscapes-para2 {
    grid-column: 2;
    grid-row: 2;
    font-size: 38px;
    margin: 10px
    
}

.landscapes1-img {
    grid-column: 2;
    grid-row: 1;
    height: 800px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.landscapes2-img {
    grid-column: 1;
    grid-row: 2;
    height: 800px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* animals page */

.animals-para1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 38px;
    margin: 10px
    
}

.animals-para2 {
    grid-column: 2;
    grid-row: 2;
    font-size: 38px;
    margin: 10px
    
}

.animals1-img {
    grid-column: 2;
    grid-row: 1;
    height: 800px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.animals2-img {
    grid-column: 1;
    grid-row: 2;
    height: 800px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* web comp */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}